<!Doctype html>
<html>
<head>
<title> Javascript Presentation</title>
<script src="./jquery.min.js"> </script>
<script src="./jmpress.js"> </script>
<link rel="stylesheet" href="./mycss.css"> <!-- load fontawesome -->
</head>
<body>
<!--    
<div id="simple">
        <%= include ./slides/slide1 %>
        <%= include ./slides/slide2 %>
        <%= include ./slides/slide3 %>
        <%= include ./slides/slide9 %>
        <%= include ./slides/slide10 %>
        <%= include ./slides/slide11 %>
        <%= include ./slides/slide12 %>
        <%= include ./slides/slide13 %>
        <%= include ./slides/slide14 %>
        <%= include ./slides/slide15 %>
        <%= include ./slides/slide16 %>
        <%= include ./slides/slide17 %>
        <%= include ./slides/slide18 %>
        <%= include ./slides/slide19 %>
        <%= include ./slides/slide20 %>
        <%= include ./slides/slide21 %>
        <%= include ./slides/slide22 %>
        <%= include ./slides/slide23 %>
        <%= include ./slides/slide24 %>
        <%= include ./slides/slide25 %>
        <%= include ./slides/slide26 %>
    </div>
    -->
<div id="simple">
        <%= include ./slides/slide1 %>
        <%= include ./slides/slide2 %>
        <%= include ./slides/slide3 %>
        <%= include ./slides/slide4 %>
        <%= include ./slides/slide5 %>
        <%= include ./slides/slide6 %>
        <%= include ./slides/slide7 %>
        <%= include ./slides/slide8 %>
        <%= include ./slides/slide9 %>
        <%= include ./slides/slide10 %>
        <%= include ./slides/slide11 %>
        <%= include ./slides/slide12 %>
        <%= include ./slides/slide13 %>
        <%= include ./slides/slide14 %>
        <%= include ./slides/slide15 %>
        <%= include ./slides/slide16 %>
        <%= include ./slides/slide17 %>
        <%= include ./slides/slide18 %>
        <%= include ./slides/slide19 %>
        <%= include ./slides/slide20 %>
        <%= include ./slides/slide21 %>
        <%= include ./slides/slide22 %>
        <%= include ./slides/slide23 %>
        <%= include ./slides/slide24 %>
        <%= include ./slides/slide25 %>
        <%= include ./slides/slide26 %>
        </div>
<script>
$(function() {
        $('#simple').jmpress();
});

    </script>
</body>
</html>
